---
import type { Project } from "../interfaces/Project.interface";
import { Image } from "astro:assets";
import Heading from "./Heading.astro";
import { Icon } from "astro-icon/components";
import ListIcons from "./ListIcons.astro";

interface Props {
  project: Project;
}

const {
  project: { description, technologies, title, image },
} = Astro.props;
---

<article class="fadeInView grid gap-4 origin-top w-[min(100%,25rem)]">
  <div class="relative">
    <Image
      transition:name={title}
      class="aspect-video w-full bg-gray-300 rounded-md"
      src={image}
      width={396}
      height={252}
      alt={title}
    />
    <a class="absolute bg-black/20 backdrop-blur-sm opacity-0 inset-0 rounded-md hover:opacity-100 transition-opacity duration-300 flex gap-2 flex-wrap items-center justify-center text-base text-high-light font-semibold tracking-tight underline underline-offset-4 group" href={`/projects/${title}`}>
      View project {title}
      <Icon class="group-hover:translate-y-0 group-hover:opacity-100 opacity-0 translate-y-8 transition-all duration-200" name="demo" width={20} height={20} />
    </a>
  </div>
  <div class="grid gap-2">
    <Heading typeHeading="h3" headingName={title} />
    <ListIcons technologies={technologies} />
    <p class="text-pretty text-base">{description}</p>
  </div>
</article>
