---
import { Icon } from "astro-icon/components";
import GroupLinks from "./GroupLinks.astro";
import type { IProject } from "../../interfaces/IProject.interface";
import { Image } from "astro:assets";
interface Props {
  project: IProject;
}

const {
  project: { description, technologies, title, links, image },
} = Astro.props;
---

<article class="card">
    <div class="card-link" >
        <Image
          class="card-img"
          src={image}
          width={396}
          height={252}
          alt={title}
        />
          <GroupLinks routes={links} title={title} />
    </div>
  <div class="card-content">
    <h3 class="card-title">{title}</h3>
    {
      technologies.length > 0 && (
        <figure class="card-icons">
          {technologies.map((tech) => (
            <Icon
              class="card-icon"
              name={`myTech/${tech}`}
              width={25}
              height={25}
              title={tech}
            />
          ))}
        </figure>
      )
    }
    <p class="card-description">{description}</p>
  </div>
</article>

<style lang="scss">
  .card {
    width: min(100%, 25rem);
    display: grid;
    gap: 1rem;
    animation:  fadeIn ease-in-out forwards;
    animation-timeline: view();
    animation-range: 0px 150px;
    transform-origin: top;

    &-link {
      position: relative;
      display: block;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.308);
        backdrop-filter: blur(0.1rem);
        transform: scale(0);
        transform-origin: bottom;
        transition: transform linear 0.2s;
        z-index: 0;
      }
    }

    &-img {
      width: 100%;
      height: 14rem;
      aspect-ratio: 16/9;
      border-radius: 0.4rem;
      background-color: rgb(216, 216, 216);
    }

    &-content {
      display: grid;
      gap: 0.5rem;
    }

    &-title {
      font-size: var(--font-md);
      color: var(---clr-letter-secondary);
    }

    &-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }

    &-icon {
      width: fit-content;
    }

    &-description {
      text-wrap: pretty;
    }
  }

  .li {
    position: absolute;
    inset: 0;
    z-index: 1;
  }
</style>
