---
interface Props {
  background: string;
  title: string;
  url: string;
}

const { background, title, url } = Astro.props;
---

<a
  class="animatedCard fadeIn-scroll-ani u-min-shadow"
  style={{ background: background }}
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`ver proyectos extra de ${title}"`}
  title={`ir a proyects ${title} extra`}
>
  <div class="animatedCard-content">
    <h3 class="animatedCard-title">
      <span class="animatedCard-signal">&lt;</span>
      Proyectos {title}
      <span class="animatedCard-signal">&gt;</span>
    </h3>
    <p>Algunos de mis proyectos realizados con {title}.</p>
  </div>
  <div class="animatedCard-icon">
    <slot />
  </div>
</a>

<style lang="scss">
  .animatedCard {
    position: relative;
    content-visibility: auto;
    min-height: 15rem;
    display: grid;
    color: #ffffff;
    place-items: center;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;

    &-content {
      position: relative;
      display: grid;
      max-width: 25rem;
      height: 100%;
      justify-self: flex-start;
    }

    &-title {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--font-md);
    }

    &-signal {
      color: orangered;
      font-weight: 600;
    }

    &-svgWrapper {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        inset: -5rem;
        border-radius: 50%;
        border: solid 0.1rem #1565c0;
      }
    }

    &-svg {
      color: rgba(0, 0, 0, 0.171);
      width: fit-content;
      right: 2rem;
      z-index: -1;
      height: 100%;
      transition: opacity 0.15s linear;
      animation: rotate linear 10s infinite reverse;
    }

    &-icon {
      @media (width <= 500px) {
        position: absolute;
        z-index: -1;
        opacity: 0.4;
      }
    }
  }
</style>
