---
import { Icon } from "astro-icon/components";
import type { IRoutes } from "../../interfaces/IProject.interface"; 
interface Props {
  routes: IRoutes;
  title: string;
}

const { routes, title } = Astro.props;
console.log(routes);
---

<div class="gruopLink">
  {
    Object.entries(routes).map((route) => (
      <a
        class="gruopLink-link"
        href={route[1]}
        target="_blank"
        rel="noopener noreferrer"
        title={`ver ${route[0]} ${title}`}
        aria-label={`ver ${route[0]} ${title}`}
      >
        <Icon
          class="card-icon"
          name={`extras/${route[0]}`}
          width={25}
          height={25}
          aria-hidden="true"
        />
      </a>
    ))
  }
  <a
    class="gruopLink-link"
    href={`/projects/${title}`}
    target="_blank"
    rel="noopener noreferrer"
    title={`ver mas detalles de ${title}`}
    aria-label={`ver mas detalles de ${title}`}
  >
    <Icon
      class="card-icon"
      name="extras/more"
      width={25}
      height={25}
      aria-hidden="true"
    />
  </a>
</div>

<style lang="scss">
  .gruopLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    inset: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.2rem);
    opacity: 0;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
    }

    &-link {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0.2rem;
      color: white;
      border-radius: 0.4rem;
      &:hover {
        color: var(--high-light);
      }
    }
  }
</style>
