---
import type { HeadingType } from '../../interfaces/HeadingType';
interface Props {
  headingName: string;
  typeHeading: HeadingType;
  color?: string
}

const { headingName, typeHeading, color } = Astro.props;
---

{
  typeHeading === "h1" ? (
    <h1 class="title title-h1">
      <slot /> {headingName}
    </h1>
  ) : typeHeading === "h2" ? (
    <h2 class="title title-h2" style={{color}}>
      <slot /> {headingName}
    </h2>
  ) : typeHeading === "h3" ? (
    <h3 class="title title-h3">
      <slot /> {headingName}
    </h3>
  ) : typeHeading === "h4" ? (
    <h4 class="title title-h4">
      <slot /> {headingName}
    </h4>
  ) : typeHeading === "h5" ? (
    <h5 class="title title-h5">
      <slot /> {headingName}
    </h5>
  ) : typeHeading === "h6" ? (
    <h6 class="title title-h6">
      <slot /> {headingName}
    </h6>
  ) : null
}

<style lang="scss">
  .title {
    line-height: 1.2;
    text-transform: capitalize;
    text-wrap: balance;


    &-h1 {
      font-size: var(--font-2xl);
    }

    &-h2 {
      font-size: var(--font-xl);
    }

    &-h3 {
      font-size: var(--font-md);
      color: var(---clr-letter-secondary);
    }

    &-h4 {
    }

    &-h5 {
    }

    &-h6 {
    }
  }
</style>