---
import { Icon } from "astro-icon/components";

const navItems = ["projects", "about", "contact"];
---

<nav class="nav u-shadow-2" transition:name="navbar">
  <ul class="nav-list" data-link="home">
    <li class="nav-listItem" data-link="home">
      <a
        class="nav-listLink"
        href="/"
        rel="ir a la página principal"
        title="ir a la página principal"
      >
        <Icon aria-hidden="true" name={`extras/home`} width={25} height={25} />
      </a>
    </li>
    {
      navItems.map((item) => (
        <li class="nav-listItem" data-link={item}>
          <a
            class="nav-listLink"
            href={item}
            rel={`ir a ${item}`}
            title={`ir a ${item}`}
          >
            <Icon
              aria-hidden="true"
              name={`extras/${item}`}
              width={25}
              height={25}
            />
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  .nav {
    position: fixed;
    height: fit-content;
    background-color: rgba(151, 114, 114, 0.288);
    backdrop-filter: blur(0.2rem);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    z-index: 10;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    
    @media (width >= 600px) {
      max-width: fit-content;
      background-color: rgba(0, 0, 0, 0.267);
      right: 2rem;
      transform: translateY(-50%);
      inset: 50% 0 auto auto;
    }
    
    @media (width >= 1000px) {
      top: 5rem;
      transform: translateY(0%);
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;


      @media (width >= 600px) {
        flex-direction: column;
      }

      @media (width >= 1000px) {
        flex-direction: row;
      }
    }

    &-check {
      appearance: none;
    }

    &-listItem {
      position: relative;
      text-transform: capitalize;
      font-weight: 600;
      transition: color 0.15s linear;
      border: solid 0.15rem #0000003a;
      border-radius: 0.5rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);

      &:hover {
        color: var(--high-light);
      }

      &:hover::after {
        opacity: 1;
      }

      &::after {
        width: max-content;
        position: absolute;
        content: attr(data-link);
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        color: inherit;
        backdrop-filter: blur(0.2rem);
        padding: 0.2rem;
        border-radius: 0.3rem;
        background-color: #00000067;
        left: 50%;
        transform: translate(-50%, 0.7rem);
        opacity: 0;
        transition: opacity 0.2s linear;
      }
    }

    &-listLink {
      padding: 0.5rem;
      &:focus {
        outline-offset: 0.3rem;
        outline: solid 0.15rem white;
        border-radius: 0.2rem;
      }
    }
  }
</style>
